.box {
    width: 100%;
    height: 100px;
}

.box1 {
    background-color: red;
    height: 400px;
}

.box2 {
    background-color: orange;
    height: 400px;
}

.box3 {
    background-color: yellow;
    height: 400px;
}

.box4 {
    background-color: green;
    height: 400px;
}

.box5 {
    background-color: blue;
    height: 500px;
}

.box6 {
    background-color: indigo;
    height: 400px;
}

.box7 {
    background-color: blue;
    height: 800px;
}

.box8 {
    background-color: violet;
    height: 400px;
}